In [3]:
#program for basic operations by taking user input of an equation
#
a=int(input("enter the value of a:"))
b=int(input("enter the value of b:"))
c=int(input("enter the value of c:"))
x=int(input("enter the value of x:"))
result=a*(x**2)+b*x+c
print("the rseult of the equation is",result)

enter the value of a: 2
enter the value of b: 3
enter the value of c: 1
enter the value of x: 4

the rseult of the equation is 45

In [5]:
a=int(input("enter the value of a:"))
b=int(input("enter the value of b:"))
c=int(input("enter the value of c:"))
x=int(input("enter the value of x:"))
result=a*(x**2)+b*x+c
print("the rseult of the equation is",result)

enter the value of a: 4
enter the value of b: 6
enter the value of c: 7
enter the value of x: 1

the rseult of the equation is 17

In [1]:
#swapping numbers(tuple swapping)
a=1
b=2
print("befor swapping",a,b)
a,b=b,a
print("after swapping",a,b)

befor swapping 1 2
after swapping 2 1

In [3]:
#swapping with temp variable
a=int(input("enter the value of a:"))
b=int(input("enter the value of b:"))
print("before swap",a,b)
temp=a
a=b
b=temp
print("after swap",a,b)

enter the valu eof a: 77
enter the valu eof b: -88

before swap 77 -88
after swap -88 77

In [7]:
#swapping using arithematic operations + -
a=int(input("enter the value of a:"))
b=int(input("enter the value of b:"))
print("before swapping a= ",a,"b= ",b)
a=a+b
b=a-b
a=a-b
print("after swapping a= ", a,"b= ",b)

enter the valu eof a: 33
enter the valu eof b: 9

before swapping a=  33 b=  9
after swapping a=  9 b=  33

In [9]:
#swapping using arithematic operations */
a=int(input("enter the value of a:"))
b=int(input("enter the value of b:"))
print("before swapping a= ",a,"b= ",b)
a=a*b
b=a/b
a=a/b
print("after swapping a= ",round(a),"b= ",round(b))

enter the value of a: 33
enter the value of b: 11

before swapping a=  33 b=  11
after swapping a=  11 b=  33

In [11]:
#swapping using xor
a=int(input("enter the value of a:"))
b=int(input("enter the value of b:"))
print("before swapping a= ",a,"b= ",b)
a=a^b
b=a^b
a=a^b
print("after swapping a= ", a,"b= ",b)

enter the value of a: 7
enter the value of b: 8

before swapping a=  7 b=  8
after swapping a=  8 b=  7

In [15]:
'''calculation of area and circumference of a circle by taking a manual radius and assignin te pi value with 3.2=14159 r=7.5'''
r=float(input("enter the value:"))
pi=3.14159
area=(pi*(r**2))
cir=2*pi*r
print(area)
print(cir)

enter the value: 7.5

176.7144375
47.12385

In [17]:
from math import pi
r=float(input("enter the radius:"))
a=pi*(r**2)
c=2*pi*r
print(a)
print(c)

enter the radius: 7.5

176.71458676442586
47.12388980384689

In [19]:
from math import e
print(e)

2.718281828459045

In [21]:
#power and sqrt
from math import sqrt, pow
n=16
print(sqrt(n))
print(pow(2,3))

4.0
8.0

In [25]:
#trigonometric functions
from math import sin,cos,tan,radians
angle=30
print("sin:",sin(radians(angle)))
print("cos:",cos(radians(angle)))
print("tan:",tan(radians(angle)))

sin: 0.49999999999999994
cos: 0.8660254037844387
tan: 0.5773502691896257

In [29]:
from math import floor,ceil
num=7.3
print("floor:",floor(num))
print("ceil:",ceil(num))

floor: 7
ceil: 8

In [31]:
from math import log, log10, exp
print("natural log:",log(e))
print("log base 10 of 100:",log10(100))
print("e to the power 2:",exp(2))

natural log: 1.0
log base 10 of 100: 2.0
e to the power 2: 7.38905609893065

In [33]:
#date time and calendar epoch time
from datetime import datetime
now=datetime.now()
print("current time:",now)
print("date:",now.date())
print("time:",now.time())

current time: 2025-05-09 11:17:02.035533
date: 2025-05-09
time: 11:17:02.035533

In [35]:
import calendar 
print(calendar.month(2025,5))

      May 2025
Mo Tu We Th Fr Sa Su
          1  2  3  4
 5  6  7  8  9 10 11
12 13 14 15 16 17 18
19 20 21 22 23 24 25
26 27 28 29 30 31

In [37]:
import calendar 
year=2025
print(calendar.calendar(year))

                                  2025

      January                   February                   March
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
       1  2  3  4  5                      1  2                      1  2
 6  7  8  9 10 11 12       3  4  5  6  7  8  9       3  4  5  6  7  8  9
13 14 15 16 17 18 19      10 11 12 13 14 15 16      10 11 12 13 14 15 16
20 21 22 23 24 25 26      17 18 19 20 21 22 23      17 18 19 20 21 22 23
27 28 29 30 31            24 25 26 27 28            24 25 26 27 28 29 30
                                                    31

       April                      May                       June
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
    1  2  3  4  5  6                1  2  3  4                         1
 7  8  9 10 11 12 13       5  6  7  8  9 10 11       2  3  4  5  6  7  8
14 15 16 17 18 19 20      12 13 14 15 16 17 18       9 10 11 12 13 14 15
21 22 23 24 25 26 27      19 20 21 22 23 24 25      16 17 18 19 20 21 22
28 29 30                  26 27 28 29 30 31         23 24 25 26 27 28 29
                                                    30

        July                     August                  September
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
    1  2  3  4  5  6                   1  2  3       1  2  3  4  5  6  7
 7  8  9 10 11 12 13       4  5  6  7  8  9 10       8  9 10 11 12 13 14
14 15 16 17 18 19 20      11 12 13 14 15 16 17      15 16 17 18 19 20 21
21 22 23 24 25 26 27      18 19 20 21 22 23 24      22 23 24 25 26 27 28
28 29 30 31               25 26 27 28 29 30 31      29 30

      October                   November                  December
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
       1  2  3  4  5                      1  2       1  2  3  4  5  6  7
 6  7  8  9 10 11 12       3  4  5  6  7  8  9       8  9 10 11 12 13 14
13 14 15 16 17 18 19      10 11 12 13 14 15 16      15 16 17 18 19 20 21
20 21 22 23 24 25 26      17 18 19 20 21 22 23      22 23 24 25 26 27 28
27 28 29 30 31            24 25 26 27 28 29 30      29 30 31

In [43]:
import calendar
year=1994
print("is leap year",calendar.isleap(year))

is leap year False

In [45]:
import calendar
leaps=calendar.leapdays(1925,2025)
print(leaps,end=' ')

25

In [47]:
#dates difference
from datetime import date
d1=date(2025,5,9)
d2=date(2025,1,1)
diff=d1-d2
print("difference in dates:",diff.days)

difference in dates: 128

In [53]:
#day abbrevation
from datetime import date
today=date.today()
name=today.strftime("%A")
print("today:",name)

today: Friday